


table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

th, td {
  border: 1px solid #0bef62;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Style for buttons */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* Style for forms and labels */
form {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

/* Style for navigation links */
.nav-link {
  text-decoration: none;
  margin-right: 20px;
  color: #333;
  font-weight: bold;
}

.nav-link:hover {
  color: #4CAF50;
}

/* Style for the purchase history table */
h2 {
  margin-top: 20px;
}

#purchase-history-table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#purchase-history-table th, #purchase-history-table td {
  border: 1px solid #e0e0e0;
  padding: 12px;
  text-align: left;
}

#purchase-history-table th {
  background-color: #f2f2f2;
}
.nav-button{
  text-decoration: none;
  color: #fff;
  /* width: 300px; */
  

}
.red{
  background: red;
}
.list{
  list-style-type: none
}